Django==2.2.24
django-appconf==1.0.3
django-bootstrap==0.2.4
django-bootstrap-markdown==1.8.1
django-bootstrap-modal-forms==1.5.0
django-bootstrap-navbar==0.0.20
django-bootstrap-static-files==3.0.0
django-crispy-forms==1.8.1
django-hitcount==1.3.1
django-imagekit==4.0.2
django-reset-migrations==0.3.1
pilkit==2.0
Pillow==6.2.1
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
