{% extends 'base.html' %}
{% load static %}
{% block tiltle %}ABOUT{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-6">
    <div class="jumbotron">
        <img src="{% static 'img/taofeek.JPG' %}" alt="" class="rounded-circle" >
        </div>
    </div>
            <div class="col-md-6">
                <h3 class="text-center"><u>ADESINA TAOFEEK</u></h3>
                <p>
                    Etiam id tempor enim, et ullamcorper nibh. Nunc sed elit sit amet tortor consectetur
                    condimentum quis non massa. Aliquam euismod
                    laoreet ante quis consectetur. Curabitur tristique suscipit enim. Aliquam lectus
                    ligula, accumsan et lobortis at, consectetur et diam. Aenean viverra lobortis pulvinar.
                    Donec nulla metus, pretium eu consequat quis, iaculis vel mauris. Praesent facilisis,
                    massa vel aliquet dictum, ante odio consectetur risus, in facilisis mi nibh ut
                    velit. Sed et porttitor mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Praesent commodo felis id nulla luctus, a sollicitudin erat interdum. Sed rutrum arcu vitae
                    nulla hendrerit pulvinar.
                </p>
                <a class="btn btn-success" href="https://www.linkedin.com">Read More.....</a>
            </div>



</div>
    </div>






{% endblock %}